body {
    font-family: "Roboto", sans-serif;
    background-image: url(images/patt.png);
  }
  * {
    box-sizing: border-box;
  }
  .contaner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:after,
  .menu:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid white;
  }
  .logo {
    padding-top: 7px;
  }
  .menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
  }
  .menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
  }
  .menu li:last-child {
    border-right: 1px solid #2c71b8;
  }
  .menu a:hover {
    background-color: #2c71b8;
    color: white;
  }
  .search {
    position: relative;
    width: 195px;
    height: 40px;
    border: 1px solid #2c71b8;
    margin-top: 5px;
  }
  .col-md-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 4px 5px 5px 15px;
    background-color: #2c71b8;
    border: none;
    background-image: url(images/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  input {
    width: 64%;
    height: 38px;
    font-size: 21px;
    margin-left: 15px;
    margin-bottom: 1px;
    border: none;
    position: relative;
    background-color: inherit;
  }
  
  .cart {
    width: 40px;
    height: 40px;
    border: 1px solid #2c71b8;
    background-color: white;
    position: relative;
    border: none;
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-top: 5px;
  }
  .product-count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    position: absolute;
    top: -9px;
    left: -9px;
    color: white;
    text-align: center;
    padding-top: 3px;
  }
  ::-webkit-input-placeholder {
    color: #548cc5;
  }
  .prod:hover {
    visibility: visible;
    opacity: 1;
    color: white;
  }
  
  .submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inline-block;
    margin-left: -1px;
  }
  .submenu li:hover a {
    background-color: #ffffff;
    color: #2c71b8;
  }
  .menu {
    position: relative;
  }
  .menu > li:hover .submenu {
    opacity: 1;
    visibility: visible;
    color: white;
    background-image: url(images/arrow.png);
  }
  .submenu li {
    width: 105%;
    float: none;
    background-color: #2c71b8;
    color: white;
  }
  .submenu li > a {
    text-align: left;
    padding-left: 28px;
    color: white;
  }
  .menu > li:hover > a {
    background-color: #2c71b8;
    color: #ffffff;
    visibility: visible;
  }
  .arrow:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -34px;
    right: 2px;
    background-size: cover;
    color: #2c71b8;
  }
  .arrow {
      position: relative;
  }
  .menu > li:hover > .arrow:after {
    background-color: white;
    background-image: url(images/arrow2.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

  }
  .main {
    display: block;
    height: 2731px;
    
  }
  .slide {
    display: block;
    height: 400px;
  }
  .main-container {
    display: block;
    height: 2321px;
    background-color:  rgba(255, 255, 255, 0.10);
    position: relative;
    border-top: 1px solid white;
  }
  .filters {
    display: block;
    width: 271px;
    height: 846px;
    padding-right: 0;
    background-color:  rgba(255, 255, 255, 0.20);
    position: absolute;
    left: 206px;
    border-right: 1px solid white;
  }
  .gadgets {
    width: 900px;
    height: 2321px;
    padding-right: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 477px;
  }
  .slide3 {
    color: white;
    font-size: 70px;
    text-align: center;
    line-height: 400px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .filters > ul, p, button {
    color: white;
    list-style-type: square;
    font-size: 22px;
    line-height: 1.7;
  }
  .menu li {
    list-style-type: none;
  }
  .filters > ul {
    font-weight: lighter;
    padding-left: 40px;
  }
  .filters > ul li:first-child {
    list-style-type: none;
    font-weight: normal;
    padding-top: 20px;
    margin-left: -23px;
  }
  .filters > button {
    background-color: #2d71b8;
    border: 1px solid white;
    padding: 8px 60px;    
    margin-left: 32px;
    margin-top: 40px;
  }
  .filters > p {
    padding-left: 32px;
    padding-top: 35px;
  }
  .gadgets {
    position: relative;
  }
  .gadgets > p:first-child {
    font-size: 15px;
    font-weight: 100;
    color: #a0b7d9;
    padding-left: 30px;
    padding-top: 30px;
  }
  .gadgets p + p {
    font-size: 35px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 15px;
  }
  .gadgets div {
    float: left;
    width: 270px;
    height: 652px;
    display: block;
    border: 1px solid #feffff;
    
  }
  .gadgets:after {
    content: "";
    display: block;
    clear: both;
  }
  .option {
    background-color: #2d71b8;
    color: #bfcee3;
    border: 1px solid #feffff;
    width: 270px;
    height: 40px;
    position: absolute;
    font-weight: 100;
    top: 79px;
    left: 60%;
    font-size: 22px;
  }
  [class^="dev"] .product_area {
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
  }
  .product_area .monitor_and_device {
    padding-left: 30%;
    padding-top: 18%;
  }
  .product_area .watch {
    padding-left: 40%;
    padding-top: 15%;
  }
  .product_area .laptop {
    padding-left: 31%;
    padding-top: 22%;
  }
  .product_area .phone {
    padding-left: 40%;
    padding-top: 15%;
  }
  .product_area .smartphone {
    padding-left: 37%;
    padding-top: 15%;
  }
  .product_area .mp3player {
    padding-left: 38%;
    padding-top: 15%;
  }
  .gadgets .col1  {
    margin-left: 30px;
  }
  .gadgets .col2  {
    margin-left: 0px;
  }
  .gadgets .col3  {
    margin-left: 0px;
  }
  [class^="dev"] .d_name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
  }
  [class^="dev"] .text {
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    line-height: 1.1;
    padding-left: 15px;
  }
  [class^="dev"] .price {
    font-size: 41px;
    font-weight: bold;
    padding-left: 70px;
    position: relative;
  }
  [class^="dev"] {
    position: relative;
  }
  [class^="dev"] .coins {
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 69%;
    left: 58%;
  }
  [class^="dev"] .coins_of_1250 {
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 69%;
    left: 68%;
  }
  [class^="dev"] > button {
    background-color: #2d71b8;
    border: 1px solid white;
  }
  [class^="dev"] .button-up {
    padding: 8px 20px;
    margin-left: 32px;
    margin-top: 10px;
  }
  [class^="dev"] .button-down:hover {
    background-color: #568dc6; 
  }
  [class^="dev"] .button-up:hover {
    background-color: #568dc6; 
  }
  [class^="dev"] .button-down {
    padding: 8px 27px;
    margin-left: 32px;
    margin-top: 10px;
  }
  [class^="product_area"] .zoom {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  [class^="product_area"] .heart {
    position: absolute;
    right: 11px;
    top: 40px;
  }
  .lode_more {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
  }

  footer {
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 100px;
    position: relative;
  }
  footer > p {
    color: #3070b8;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 35%;
    left: 45%;
   

  










